body{
    background-color: darkred;
    }
    p{
        color:aliceblue;
        font-size: 20;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        margin:auto;
         }
        h1{
            color: black;
            font-size: 30;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 900;
            font-style:oblique;
            font-stretch: extra-expanded;
            
        }
        button{
            background-color: aqua;
            
        }
       

